{% extends 'TTMainBundle:Security:layout.html.twig' %}
{% block body %}
    <div class="modal in" id="offerModal" role="dialog" tabindex="-1" aria-hidden="false" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Add Court Offer</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Date</td>
                            <td>Start Date</td>
                            <td>Stop Date</td>
                            <td>Price</td>
                        </tr>
                        <tr>
                            <td>
                                <div id="offerCourtId"></div>
                            </td>
                            <td>
                                <div id="offerCourtName"></div>
                            </td>
                            <td>
                                <input id="date" name="date" class="date" type="text" size="10" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!" />
                            </td>
                            <td>
                                <input id="start_date" name="start_date" class="time" type="text" size="5" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!" />
                            </td>
                            <td>
                                <input id="stop_date" name="stop_date" class="time" type="text" size="5" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!" />
                            </td>
                            <td>
                                <input id="price" name="price" type="text" size="5" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!" />
                            </td>
                        </tr>
                    </table>
                    <div class="offerCourtName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" id="addCourtOffer">Add Offer</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal in" id="subCompImages" role="dialog" tabindex="-1" aria-hidden="false" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Update SubCompany Images</h3>
                </div>
                <div class="modal-body" style="min-height: 400px;display:block; overflow:auto;">
                    <div style="width:100%;position:relative;display:block;">
                        <div style="width:50%;float:left;display:block;position:relative;padding-top:8px;" id="subCompanyImagesBody">
                        </div>
                        <div style="width:50%;float:right;display:block;position:relative;">
                            <form id="upload" method="post" action="/app_dev.php/request/fileUpload" enctype="multipart/form-data">
                                <div id="drop">
                                    Drop Here

                                    {#<a>Browse</a>#}
                                    <input type="file" name="upl" multiple />
                                    <input type="hidden" value="court1" id="subComp_modal_name" name="subComp_modal_name"/>
                                </div>

                                <ul>
                                    <!-- The file uploads will be shown here -->
                                </ul>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {#<button class="btn btn-info" id="updateCourtImages">Update Images</button>#}
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="courts-section">
        <div class="row">
            <div class="container">
                <h1>Your Courts List!</h1>
                <img src="{{ asset('bundles/ttmain/images/Pavillion/logo.png') }}" width="100">
                <table class="table table-striped table-bordered table-hover table-condensed" id="courts_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        {#<th>Company Name</th>#}
                        <th>Company Sub Name</th>
                        <th>Court Name</th>
                        <th>Surface Type</th>
                        <th>Cover Type</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Street</th>
                        <th>Images</th>
                        <th>Add Offer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in courts %}
                        <tr>
                            <td>{{ c.getId() }}</td>
                            {#<td style="text-align:center">{{ c.getCompanyName() }}</td>#}
                            <td>{{ c.getCompanySubName() }}</td>
                            <td>{{ c.getCourtName() }}</td>
                            <td>{{ c.getSurfaceType() }}</td>
                            <td>{{ c.getCoverType() }}</td>
                            <td>{{ c.getCountryIsoCode() }}</td>
                            <td>{{ c.getState() }}</td>
                            <td>{{ c.getCity() }}</td>
                            <td>{{ c.getStreet() }}</td>
                            <td>
                                <img width='100' src="{{ asset('bundles/ttmain/images/'~c.getCompanyName()~'/'~c.getCompanySubName()|replace({' ':''})~'/'~c.getSurfaceType()~'/'~c.getCoverType()~'/'~c.getCoverType()~'1.jpg') }}">
                            </td>
                            <td>
                                <button class="btn btn-success" onclick="openOfferModal('{{ c.getId() }}', '{{ c.getCourtName() }}')">+</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="court-offers-section" id="court-offers">
        <div class="row">
            <div class="container">
                <h1>Court Offers List</h1>
                <table class="table table-striped table-bordered table-hover table-condensed" id="keywords">
                    <thead>
                    <tr>
                        <th>Id</th>
                        {#<th>Company Name</th>#}
                        <th>Company Sub Name</th>
                        <th>Court Name</th>
                        {#<th>Surface Type</th>#}
                        {#<th>Cover Type</th>#}
                        {#<th>Country</th>#}
                        {#<th>State</th>#}
                        {#<th>City</th>#}
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>Stop Time</th>
                        <th>Price</th>
                        <th>Current Status</th>
                        <th>Change Status</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in courtOffers %}
                        <tr>
                            <td>{{ c.getId() }}<input type="hidden" id="offer_id_{{ loop.index }}" value="{{ c.getId() }}"></td>
                            {#<td style="text-align:center">{{ c.getCompanyName() }}</td>#}
                            <td>{{ c.getCompanySubName() }}</td>
                            <td>{{ c.getCourtName() }}</td>
                            {#<td>{{ c.getSurfaceType() }}</td>#}
                            {#<td>{{ c.getCoverType() }}</td>#}
                            {#<td>{{ c.getCountryIsoCode() }}</td>#}
                            {#<td>{{ c.getState() }}</td>#}
                            {#<td>{{ c.getCity() }}</td>#}
                            {#<td>{{ c.getStreet() }}</td>#}
                            <td>
                                <span style="display:none;">{{ c.getStartDate|date('Y-m-d') }}</span>
                                <input type="text" size="8" class="date" id="date_{{ c.getId() }}" value="{{ c.getStartDate()|date('Y-M-d') }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <span style="display:none;">{{ c.getStartDate|date('H:i') }}</span>
                                <input type="text" size="3" class="time" id="start_date_{{ c.getId() }}" value="{{ c.getStartDate()|date('H:i') }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <span style="display:none;">{{ c.getStopDate|date('H:i') }}</span>
                                <input type="text" size="3" class="time" id="stop_date_{{ c.getId() }}" value="{{ c.getStopDate()|date('H:i') }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <span style="display:none;">{{ c.getPrice() }}</span>
                                <input type="text" size="5" id="price_{{ c.getId() }}" value="{{ c.getPrice() }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <span id="current_status_{{ c.getId() }}">{{ c.getStatus() }}</span>
                                {#<select name="court_status_{{ c.getId() }}" id="status_{{ c.getId() }}" class="select_status">#}
                                    {#{% for sl in statusList %}#}
                                    {#<option value="{{ sl['name'] }}"#}
                                    {#{%  if sl['name'] == c.getStatus() %}selected="selected"{% endif %} {%  if ((sl['name'] == 'outdated') or (sl['name'] == 'booked') or (sl['name'] == 'completed') or (c.getStatus() == 'outdated') or (c.getStatus() == 'booked') or (c.getStatus() == 'completed')) %} disabled{% endif %}>{{ sl['name'] }}#}
                                    {#</option>#}
                                    {#{% endfor %}#}
                                {#</select>#}
                            </td>
                            <td>
                                <select name="court_status_{{ c.getId() }}" id="status_{{ c.getId() }}" class="select_status">
                                    <option value="active">active</option>
                                    <option value="inactive">inactive</option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-info" onclick="updateCourtOffer({{ c.getId() }}, 'yes')">Update</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div style="float:right;margin-right:10px;"><button class="btn btn-info" onclick="updateAllCourtOffers({{ courtOffersCount }})">Update All</button></div>
            </div>
        </div>
    </div>
    <div class="edit-courts-section" id="edit-courts">
        <div class="row">
            <div class="container">
                <h1>Add/Edit Courts</h1>
                <h3>Edit Courts</h3>
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Company Sub Name</th>
                        <th>Court Name</th>
                        <th>Surface Type</th>
                        <th>Cover Type</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Street</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in courts %}
                        <tr>
                            <td>
                                <select name="company_sub_name_{{ c.getId() }}" id="company_sub_name_{{ c.getId() }}" class="select_status">
                                    {% for sub in subComps %}
                                        <option value="{{ sub }}"
                                                {%  if sub == c.getCompanySubName() %}selected="selected"{% endif %}>{{ sub }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{ c.getCourtName() }}</td>
                            <td>
                                <select name="surface_type_{{ c.getId() }}" id="surface_type_{{ c.getId() }}" class="select_status">
                                    {% for st in surfaceTypeList %}
                                        <option value="{{ st['name'] }}"
                                                {%  if st['name'] == c.getSurfaceType() %}selected="selected"{% endif %}>{{ st['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select name="cover_type_{{ c.getId() }}" id="cover_type_{{ c.getId() }}" class="select_status">
                                    {% for st in coverTypeList %}
                                        <option value="{{ st['name'] }}"
                                                {%  if st['name'] == c.getCoverType() %}selected="selected"{% endif %}>{{ st['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select name="country_iso_code_{{ c.getId() }}" id="country_iso_code_{{ c.getId() }}" style="width:50px;">
                                    {% for st in countryIsoCode %}
                                        <option value="{{ st['name'] }}"
                                                {%  if st['name'] == c.getCountryIsoCode() %}selected="selected"{% endif %}>{{ st['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" size="6" id="state_{{ c.getId() }}" value="{{ c.getState() }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <input type="text" size="6" id="city_{{ c.getId() }}" value="{{ c.getCity() }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <input type="text" size="15" id="street_{{ c.getId() }}" value="{{ c.getStreet() }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <button class="btn btn-info" onclick="updateCourts({{ c.getId() }})">Update</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Add New Court</h3>
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Company Sub Name</th>
                        <th>Court Name</th>
                        <th>Surface Type</th>
                        <th>Cover Type</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Street</th>
                        <th>Submit</th>
                        {#<th>Add Images</th>#}
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="company_sub_name" id="company_sub_name" class="select_status">
                                    {% for sub in subComps %}
                                        <option value="{{ sub }}">
                                            {{ sub }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" size="15" id="court_name" placeholder="Court Name" value="" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <select name="surface_type" id="surface_type" class="select_status">
                                    {% for st in surfaceTypeList %}
                                        <option value="{{ st['name'] }}">
                                            {{ st['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select name="cover_type" id="cover_type" class="select_status">
                                    {% for st in coverTypeList %}
                                        <option value="{{ st['name'] }}">
                                            {{ st['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select name="country_iso_code" id="country_iso_code" style="width:50px;">
                                    {% for st in countryIsoCode %}
                                        <option value="{{ st['name'] }}">
                                            {{ st['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" size="6" id="state" placeholder="State" value="" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <input type="text" size="6" id="city" placeholder="City" value="" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <input type="text" size="15" id="street" placeholder="Street" value="" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <button class="btn btn-info" id="addNewCourt">Submit</button>
                            </td>
                            {#<td>#}
                                {#<button class="btn btn-success" onclick="openCourtImagesModal('id', 'courtName')">Edit Images</button>#}
                            {#</td>#}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="edit-courts-subComps" id="edit-subComps">
    <div class="row">
        <div class="container">
            <h1>Add/Edit SubCompanies</h1>
            <h3>Edit SubCompanies</h3>
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th>Company Sub Name</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Street</th>
                    <th>Phone Number</th>
                    <th>Update</th>
                    <th>Edit Images</th>
                </tr>
                </thead>
                <tbody>
                {% for sub in subCompanies %}
                    <tr>
                        <td>
                            <input type="text" size="16" id="sub_company_sub_name_{{ sub.getId() }}" value="{{ sub.getCompanySubName() }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" readonly title="Field can't be empty!">
                        </td>
                        <td>
                            <input type="text" size="3" id="sub_country_{{ sub.getId() }}" value="{{ sub.getCountryIsoCode() }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" readonly title="Field can't be empty!">
                        </td>
                        <td>
                            <input type="text" size="8" id="sub_state_{{ sub.getId() }}" value="{{ sub.getState() }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" readonly title="Field can't be empty!">
                        </td>
                        <td>
                            <input type="text" size="8" id="sub_city_{{ sub.getId() }}" value="{{ sub.getCity() }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                        </td>
                        <td>
                            <input type="text" size="18" id="sub_street_{{ sub.getId() }}" value="{{ sub.getStreet() }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                        </td>
                        <td>
                            <input type="text" size="15" id="sub_phone_number_{{ sub.getId() }}" value="{{ sub.getPhoneNumber() }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                        </td>
                        <td>
                            <button class="btn btn-info" onclick="updateSubComp({{ sub.getId() }})">Update</button>
                        </td>
                        <td>
                            <button class="btn btn-success" onclick="openSubCompImagesModal('{{ sub.getId() }}', '{{ sub.getCompanySubName() }}')">Edit Images</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h3>Add New SubCompany</h3>
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th>Company Sub Name</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Street</th>
                    <th>Phone Number</th>
                    <th>Submit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" size="15" id="company_sub_name_s" placeholder="SubCompany Name" value="" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                    </td>
                    <td>
                        <select name="country_iso_code_s" id="country_iso_code_s" style="width:50px;">
                            {% for st in countryIsoCode %}
                                <option value="{{ st['name'] }}">
                                    {{ st['name'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" size="6" id="state_s" placeholder="State" value="" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                    </td>
                    <td>
                        <input type="text" size="6" id="city_s" placeholder="City" value="" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                    </td>
                    <td>
                        <input type="text" size="15" id="street_s" placeholder="Street" value="" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                    </td>
                    <td>
                        <input type="text" size="15" id="phone_number" placeholder="Phone Number" value="" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                    </td>
                    <td>
                        <button class="btn btn-info" id="addNewSubCompany">Submit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="billing-section" id="billing">
        <div class="row">
            <div class="container">
                <h1>Billing</h1>
            </div>
        </div>
    </div>
    <div style="display:none;position:absolute;left:10000px;top:10000px">
        <div id="companyName">{{ companyName }}</div>
        <div id="hash">{{ hash }}</div>
    </div>
{% endblock %}