{% extends 'TTMainBundle:Security:layout.html.twig' %}
{% block body %}
    <div class="modal in" id="offerModal" role="dialog" tabindex="-1" aria-hidden="false" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Add Court Offer</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Start Date</td>
                            <td>Stop Date</td>
                            <td>Price</td>
                        </tr>
                        <tr>
                            <td>
                                <div id="offerCourtId"></div>
                            </td>
                            <td>
                                <div id="offerCourtName"></div>
                            </td>
                            <td>
                                <input id="start_date" name="start_date" class="datetime" type="text" size="13" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!" />
                            </td>
                            <td>
                                <input id="stop_date" name="stop_date" class="datetime" type="text" size="13" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!" />
                            </td>
                            <td>
                                <input id="price" name="price" type="text" size="5" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!" />
                            </td>
                        </tr>
                    </table>
                    <div class="offerCourtName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" id="addCourtOffer">Add Offer</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="courts-section">
        <div class="row">
            <div class="container">
                <h1>Your Courts List!</h1>
                <img src="{{ asset('bundles/ttmain/images/Pavillion/logo.png') }}" width="100">
                <table class="table table-striped table-bordered table-hover table-condensed" id="courts_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        {#<th>Company Name</th>#}
                        <th>Company Sub Name</th>
                        <th>Court Name</th>
                        <th>Surface Type</th>
                        <th>Cover Type</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Street</th>
                        <th>Images</th>
                        <th>Add Offer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in courts %}
                        <tr>
                            <td>{{ c.getId() }}</td>
                            {#<td style="text-align:center">{{ c.getCompanyName() }}</td>#}
                            <td>{{ c.getCompanySubName() }}</td>
                            <td>{{ c.getCourtName() }}</td>
                            <td>{{ c.getSurfaceType() }}</td>
                            <td>{{ c.getCoverType() }}</td>
                            <td>{{ c.getCountryIsoCode() }}</td>
                            <td>{{ c.getState() }}</td>
                            <td>{{ c.getCity() }}</td>
                            <td>{{ c.getStreet() }}</td>
                            <td>
                                <img width='100' src="{{ asset('bundles/ttmain/images/'~c.getCompanyName()~'/'~c.getCompanySubName()|replace({' ':''})~'/'~c.getSurfaceType()~'/'~c.getCoverType()~'/'~c.getCoverType()~'1.jpg') }}">
                            </td>
                            <td>
                                <button class="btn btn-success" onclick="openOfferModal('{{ c.getId() }}', '{{ c.getCourtName() }}')">+</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="court-offers-section" id="court-offers">
        <div class="row">
            <div class="container">
                <h1>Court Offers List</h1>
                <table class="table table-striped table-bordered table-hover table-condensed" id="keywords">
                    <thead>
                    <tr>
                        <th>Id</th>
                        {#<th>Company Name</th>#}
                        <th>Company Sub Name</th>
                        <th>Court Name</th>
                        {#<th>Surface Type</th>#}
                        {#<th>Cover Type</th>#}
                        {#<th>Country</th>#}
                        {#<th>State</th>#}
                        {#<th>City</th>#}
                        {#<th>Street</th>#}
                        <th>Start Date</th>
                        <th>Stop Date</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in courtOffers %}
                        <tr>
                            <td>{{ c.getId() }}</td>
                            {#<td style="text-align:center">{{ c.getCompanyName() }}</td>#}
                            <td>{{ c.getCompanySubName() }}</td>
                            <td>{{ c.getCourtName() }}</td>
                            {#<td>{{ c.getSurfaceType() }}</td>#}
                            {#<td>{{ c.getCoverType() }}</td>#}
                            {#<td>{{ c.getCountryIsoCode() }}</td>#}
                            {#<td>{{ c.getState() }}</td>#}
                            {#<td>{{ c.getCity() }}</td>#}
                            {#<td>{{ c.getStreet() }}</td>#}
                            <td>
                                <span style="display:none;">{{ c.getStartDate()|date('Y-m-d h:m') }}</span>
                                <input type="text" size="13" class="datetime" id="start_date_{{ c.getId() }}" value="{{ c.getStartDate()|date('Y-m-d h:m') }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <span style="display:none;">{{ c.getStopDate()|date('Y-m-d h:m') }}</span>
                                <input type="text" size="13" class="datetime" id="stop_date_{{ c.getId() }}" value="{{ c.getStopDate()|date('Y-m-d h:m') }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <span style="display:none;">{{ c.getPrice() }}</span>
                                <input type="text" size="5" id="price_{{ c.getId() }}" value="{{ c.getPrice() }}" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Field can't be empty!">
                            </td>
                            <td>
                                <span style="display:none;">{{ c.getStatus() }}</span>
                                <select name="court_status_{{ c.getId() }}" id="status_{{ c.getId() }}" class="select_status">
                                    {% for sl in statusList %}
                                    <option value="{{ sl['name'] }}"
                                    {%  if sl['name'] == c.getStatus() %}selected="selected"{% endif %}>{{ sl['name'] }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-info" onclick="updateCourtOffer({{ c.getId() }})">Update</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}